<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comparator</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body>
<div class="main">

  <div class="title">
    Comparator
  </div>

  <div id="instructions">
    Choose which vibe represents the text the most
  </div>

  <div id="comparison">
    <div id="entries">
      <div style={{ style }} >
        {{ text ]}
      </div>
    </div>
    <div id="vibes">
      <a href= {{ vibe_1["href"] }} >
        {{ vibe_1["vibe"] }}
      </a>
      <a href= {{ vibe_2["href"] }} >
        {{ vibe_2["vibe"] }}
      </a>
    </div>
  </div>
</body>
</html>